<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MHTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <MHTimer.Properties.Settings>
            <setting name="IsCountingNotMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCountingOnlyActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEnableAdditionalFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Date" serializeAs="String">
                <value>2000/01/01</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MinCountStartTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CountInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxFileNum" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IsCountingOnSleep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAutoLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDividingBySpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoInputTime" serializeAs="String">
                <value>30</value>
            </setting>
        </MHTimer.Properties.Settings>
    </userSettings>
</configuration>
